<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">
    <p><strong>Name:</strong> <%= @product.name %></p>
    <p><strong>Product price:</strong> <%= @product.price %></p>
    <p><strong>Description:</strong> <%= @product.description %></p>
   
  </div>
</div>s
